---
title: Workshops
---

<div class="limit limit--top-margin">

  <div class="workshops-intro">
    <h1 class="workshops-intro__title">
      Workshops
    </h1>
  </div>

  <div class="workshops-intro">
    <h2 class="workshops-intro__date">
      May 11th
    </h2>
  </div>

  <h2 class="row__title">Sweet APIs with Middleware and Zend Expressive</h2>
  <div class="row">
    <p class="row__column">
      Middleware has recently become a must-know concept for PHP developers. With the advent of PSR-7, which standardized HTTP messages, many frameworks
      embraced and fostered the spread of such an approach making it easier for developers to create performant, composable and customizable software architectures.
      In this workshop we will incrementally develop a RESTful API using Zend Expressive, exploring its components and its workflow. We will discover how
      the framework allows us to easily create simple and well organized code, exploiting open source libraries and middleware layers which could be reused
      for other projects, even with other frameworks!
      At the end of the workshop you can expect to be able to understand middleware and exploit its advantages. You will be able to integrate, reuse and
      (why not?) write framework-agnostic middleware layers to customize your application workflow. Hands on examples and pills of real world experience
      will boost your productivity and cut low the entry barrier as well as helping you avoid common pitfalls.
    </p>
    <p class="row__column">
      Speakers: Steve Maraspin (<a href="https://twitter.com/maraspin" class="speaker__twitter-link">@maraspin</a>) - Marco Perone (<a href="https://twitter.com/marcoshuttle" class="speaker__twitter-link">@marcoshuttle</a>)
    </p>
    <p class="row__column">
      This is a full day workshop. Get your <a href="{{ site.data.tickets.url }}">ticket</a>!
    </p>
  </div>

  <hr class="hr">

  <h2 class="row__title">NoEstimates Workshop</h2>
  <div class="row">
    <p class="row__column">
      Stop wasting time and money.

      #NoEstimates is an approach to software development that arose from the observation that large amounts of time were spent over the years in
      estimating and improving those estimates, but we see no value from that investment.
      Indeed, according to scholars Conte, Dunmore and Shens a good estimate is one that is within 25% of the actual cost, 75% of the time.
      This is the same as saying: give us your money, we promise not lose more than 25% of it (with a 25% probability that we will lose a lot more).
      We don’t find that acceptable or productive for our industry.
      There must be better ways to manage software and product development.
    </p>
    <p class="row__column">
      Speaker: Vasco Duarte (<a href="https://twitter.com/duarte_vasco" class="speaker__twitter-link">@duarte_vasco</a>)
    </p>
    <p class="row__column">
      This is a full day workshop. Get your <a href="http://www.avanscoperta.it/it/training/noestimates-workshop/">ticket</a>!
    </p>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
